/*--------------------------- Wrapper ---------------------------*/
.wrapper {
    width: 100%;
    background: linear-gradient(to left, #BC7097, #E6D0DB);
}

/*---------------------------- Footer2 ----------------------------*/
.hangyeol {
    padding: 1%;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(108, 108, 108);
}
.hangyeol:hover {
    cursor: default;
}
.indexHr {
    margin: 0 0 3% 0;
    background-color: #ffffff;
    height: 1px;
    border: none;
}
.syu {
    font-family: 'S-CoreDream-3Light';
    font-size: 2em;
    margin-bottom: 1%;
}
.location {
    font-family: 'Pretendard-Regular';
    font-size: 1.3em;
    margin-top: 1%;
    text-shadow: none;
}
.who {
    font-family: 'S-CoreDream-3Light';
    font-size: 0.8em;
}

/*---------------------------- Main Slider ----------------------------*/
.main1 {
    background-image: url('../public/re-wind_pc.jpeg');
    background-size: cover;
    width: 1000px;
    height: 732px;
    border: none;
}
.main2 {
    background-image: url('../public/omg_pc.jpeg');
    background-size: cover;
    width: 1000px;
    height: 732px;
    border: none;
}





/*---------------------- Media Query (Screen) ----------------------*/
@media (max-width: 280px) { /* Galaxy Fold */
    .main1 {
        background-image: url('../public/re-wind_mob.jpeg');
    }

    .main2 {
        background-image: url('../public/omg_mob.jpeg');
    }
    .main1, .main2 {
        width: 300px;
        height: 790px;
    }


}

@media (min-width: 281px) and (max-width: 375px) { /* iPhone SE & X*/
    .main1 {
        background-image: url('../public/re-wind_mob.jpeg');
    }

    .main2 {
        background-image: url('../public/omg_mob.jpeg');
    }
    .main1, .main2 {
        width: 370px;
        height: 730px;

    }

}

@media (min-width: 376px) and (max-width: 480px) { /* iPhone Pro */
    .main1 {
        background-image: url('../public/re-wind_mob.jpeg');
    }

    .main2 {
        background-image: url('../public/omg_mob.jpeg');
    }
    .main1, .main2 {
        height: 760px;
        width: 350px;
    }
}

@media (min-width: 481px) and (max-width: 767px) { 
    .main1 {
        background-image: url('../public/re-wind_mob.jpeg');
    }
    .main2 {
        background-image: url('../public/omg_mob.jpeg');
    }
    .main1, .main2 {
        height: 850px;
    }




}

@media (min-width: 768px) and (max-width: 1023px) { /* iPad Air */
    .main1, .main2 {
        width: 280px;
        height: 420px;
    }


}

@media (min-width: 1024px) and (max-width: 1280px) { /* iPad Pro */
    .main1, .main2 {
        width: 380px;
        height: 530px;
    }
}

@media (min-width: 1281px) { /* PC */
}