.container {
    background-color: transparent;
    text-align: center;
    padding-top: 2%;
}


.title {
    font-style: italic;
    padding: 1% 5% 1% 5%;
    margin: 0 0 2% 0;
    background-color: #D199BA;
    font-size: 3em;

}

/*------------------------ Slider -----------------------*/
.slider {
    padding: 1%;
}
.card {
    display: inline-block;
    padding: 5% 4% 0 4%;
    transition: all .6s;
}

/*------------------ card (inner Slider) ------------------*/
.content {
    position:absolute;
    bottom: 28%;
    padding-left: 30px;

    font-size: 2.7em;
    color: #fff;
    text-shadow: 3px 2px 10px rgb(71, 71, 71);
}
.img {
    border-radius: 20px;
}
.img:hover {
    cursor: pointer;
}
.img:hover:after {
    display: inline;
}

.teamBtn {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    position: absolute;
    bottom: 120px;
    margin-left: 3.9%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    outline: none;
    color: transparent;
    cursor: pointer;
    border: 3px solid #fff;
    background-color: rgb(91, 91, 91);
    box-shadow: inset;
    transition: all, .1s;
}
.teamBtn:hover, .teamBtn:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 5px solid #fff;
    background-color: #D199BA;
}
.voteBtn:hover, .voteBtn:active {
    color: #000;
    background-color: #D199BA;
}
.voteBtn {
    color: #fff;
    border: none;
    background-color: #808080;
    font-size: 2em;
    margin: 10%;
    padding: 1% 2% 1% 2%;
    cursor: pointer;
    transition: all, .4s;
}




/*------------------------ dots -----------------------*/
.dots
{
    position: absolute;
    bottom: 600px;
    display: block;
    padding: 0 6% 0 5%;
    width: 100%;
    list-style: none;
    text-align: center;
}
.dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.dots li button
{
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.dots li button:hover,
.dots li button:focus
{
    outline: none;
}
.dots li button:hover:before,
.dots li button:focus:before
{
    transition: all 0.6s;
    opacity: 1;
}
.dots li button:before
{
    font-family: 'slick';
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
li.slick-active button:before {
    opacity: .75;
    color: pink;
  }







/*--------------------- Media Query (Screen) ----------------------*/
@media (max-width: 280px) { /* Galaxy Fold */


}

@media (min-width: 281px) and (max-width: 375px) { /* iPhone SE & X*/



}

@media (min-width: 376px) and (max-width: 480px) { /* iPhone Pro*/
    .container {
        padding: 20% 0 10% 0;
    }
    .card {
        padding: 5%;
    }
    .title {
        font-size: 2em;
        margin-bottom: 20%;
    }
    .dots {
        bottom: -50px;

    }
    .dots li {
        width: 10px;
        height: 10px;
        margin: 1%;
    }
    .content {
        padding-left: 10px;
        font-size: 1.7em;
    }
    .teamBtn {
        width: 35px;
        height: 35px;
        bottom: 70px;
        margin-left: 3.7%;
    }
    .voteBtn {
        margin-top: 40%;
        font-size: 1.8em;
    }

}

@media (min-width: 481px) and (max-width: 819px) { 


}

@media (min-width: 820px) and (max-width: 1023px) { /* iPad Air */


}

@media (min-width: 1024px) and (max-width: 1366px) { /* iPad Pro */

}

@media (min-width: 1377px) { /* PC */

 
}
