.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(5, 0.1f); 
    grid-template-areas:
            "card card"
            "card card"
            "card card"
            "card card"
            "card .";
    row-gap: 20px;
    column-gap: 10px;
}
.card {
    box-sizing: content-box;
    margin: 0 auto;
    border-radius: 50%;    
}